:root {
  --bg-gray: #f0f1f5;
  --bg-blue: #18f;
  --text-gray: #666;
  --text-dark: #222;
}

body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-dark);
}

.App {
  max-width: 400px;
  margin: auto;
}

.App header {
  font-size: 1.8em;
  font-weight: bold;
  padding: 0.25em 0.1em;
  border-bottom: 1px solid var(--bg-gray);
}

.message {
  margin: 1em 0;
}

.message.to {
  margin-left: 4em;
  text-align: right;
}

.message.from {
  margin-right: 4em;
}

.message .body {
  text-align: left;
  background-color: var(--bg-gray);
  display: inline-block;

  padding: 8px 14px;
  border-radius: 18px;
  overflow-wrap: break-word;

  box-sizing: border-box;
  max-width: 100%;
}

.message.to .body {
  background-color: var(--bg-blue);
  color: #fff;
}

.user-input {
  margin: 1.5em 0;
}

.user-input input,
.user-input button {
  outline: none !important;
  font-size: 1em;
  padding: 8px 14px;
  border: 1px solid var(--bg-gray);
  box-sizing: border-box;
}

.user-input input {
  border-radius: 18px 0 0 18px;
  width: 80%;
}

.user-input button {
  background-color: var(--bg-gray);
  color: var(--text-gray);
  border-radius: 0 18px 18px 0;
  width: 20%;
  transition: 0.1s;
  cursor: pointer;
}

.user-input button:hover {
  color: var(--text-dark);
}

.user-input button:active {
  transform: translateY(1px);
}